<div class="radio--{{splitDashLast _self.name}}">
  <div class="radio__wrapper">
    <input class="radio__input" id="{{id}}" type="radio" name="{{name}}" {{#if value}}value="{{value}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if required}}required="true"{{/if}} {{#if checked}}checked{{/if}} />
    <label class="radio__label" for="{{id}}">{{{label}}}</label>
  </div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
  {{#if error}}
    <div class="radio__error">{{error}}</div>
  {{else}}
    <!--<div class="radio__error">Put in the error message here...</div>-->
  {{/if}}
</div>
