<div class="checkbox--{{splitDashLast _self.name}}">
  <div class="checkbox__wrapper">
    <input class="checkbox__input" id="{{id}}" type="checkbox" name="{{name}}" {{#if value}}value="{{value}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if required}}required="true"{{/if}} {{#if checked}}checked{{/if}} />
    <label class="checkbox__label" for="{{id}}">{{{label}}}</label>
  </div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
  {{#if error}}
    <div class="checkbox__error">{{error}}</div>
  {{else}}
    <!--<div class="checkbox__error">Put in the error message here...</div>-->
  {{/if}}
</div>
