<div class="text-field--{{splitDashLast _self.name}}">
  <div class="text-field__wrapper">
    <input class="text-field__input" id="{{id}}" type="{{type}}" name="{{name}}" {{#if value}}value="{{value}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if required }}required="true"{{/if}} {{#if autocomplete}}autocomplete="{{autocomplete}}"{{/if}}/>
    <label class="text-field__label" for="{{id}}">{{label}}</label>
  </div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
  {{#if error}}
    <div class="text-field__error">{{error}}</div>
  {{else}}
    <!--<div class="text-field__error">Put in the error message here...</div>-->
  {{/if}}
</div>
