<div class="text-area--{{splitDashLast _self.name}}">
  <div class="text-area__wrapper">
    <textarea class="text-area__input" id="{{id}}" type="text" name="{{name}}" {{#if value}}value="{{value}}"{{/if}} {{#if disabled}}disabled{{/if}} {{#if required }}required="true"{{/if}}></textarea>
    <label class="text-area__label" for="{{id}}">{{label}}</label>
  </div>
  <!-- NOTE: This div is reserved for field-specific error messages by a backend -->
  {{#if error}}
    <div class="text-area__error">{{error}}</div>
  {{else}}
    <!--<div class="text-area__error">Put in the error message here...</div>-->
  {{/if}}
</div>
